@model DataLayer.Entities.Category

@{
    ViewData["Title"] = "Delete";
}
<div>
    <h4>Bạn chắc chắn muốn xóa @Model.CategoryName?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Tên loại sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input asp-for="Id" class="form-control" value="@Model.Id" hidden />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
