@model IEnumerable<DataLayer.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Tạo mới Loại Sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id=item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
