@model IEnumerable<DataLayer.Entities.Sale>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Tạo mới giảm giá</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Phần trăm giảm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.percentSale) %
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id=item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
